@use "../util/functions.scss" as *;
@use "../util/variables.scss" as *;
@use "../util/breakpoints.scss" as *;

.filter {
  max-width: rem(200);
  margin: rem(40) 0 rem(32) 0;
  width: 100%;

  @include breakpoints(small) {
    margin: rem(48) 0;
  }

  .default {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(16);
    padding-left: rem(24);
    height: rem(56);
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    user-select: none;
    cursor: pointer;
  }
  .dropDown__icon {
    font-size: rem(20);
  }
  .options__container {
    position: absolute;
    border-radius: rem(5);
    width: 100%;
    max-width: rem(200);
    margin-top: rem(4);
    box-shadow: 0 0 10px rgba(#000000, 0.15);
    padding: rem(8) 0;
  }
  .option {
    user-select: none;
    cursor: pointer;
  }
  .option:hover {
    background-color: rgba(black, 0.1);
  }
  .option span {
    display: block;
    padding: rem(3) 0;
    margin-left: rem(24);
  }
}

.lightMode {
  .filter {
    .default {
      background-color: var(--light-elements);
      color: var(--light-text);
    }
    .options__container {
      background-color: var(--light-elements);
      color: var(--light-text);
    }
  }
}
.darkMode {
  .filter {
    .default {
      background-color: var(--dark-elements);
      color: var(--light-elements);
    }
    .options__container {
      background-color: var(--dark-elements);
      color: var(--light-elements);
    }
  }
}
